{% extends "base.html" %}
{% block content %}
<p class="lede">You're all set, {{ primary_name }}! We've recorded you as <strong>{{ "attending" if rsvp_status == "Attending" else "declining" }}</strong>. Save this card or your emailed link -- you can use it to change your answer later if you need to.</p>
<div class="print-card">
  <img src="{{ qr_data_uri }}" alt="Your invitation QR code" width="240" height="240">
  <p class="phrase-display">{{ phrase }}</p>
  <p class="fine-print">{{ url }}</p>
</div>
{% if email_sent %}<p class="fine-print">We've also emailed this link to you.</p>{% endif %}
<p class="fine-print"><a href="/">Back to RSVP</a></p>
{% endblock %}
